<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <settings>
            <!-- Path to the repository of HashTags -->
            <setting name="HashTagMonitor.RepositoryPath" value="/sitecore/system/Modules/HashTagMonitor" />
            <setting name="HashTagMonitor.Database" value="master" />
        </settings>

    </sitecore>
</configuration>